body {
  display: block;
  overflow: hidden;
  background: #101010;
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

.word {
  position: absolute;
  transform-origin: 50% 50%;
  cursor: grab;
  user-select: none;
  font-family: "Nohemi";
  color: #fff;
  font-size: 7.176vw;
  margin-right: 10px;
  line-height: 7.176vw;
}

.pro-img {
  position: absolute;
  width: 200px;
  height: auto;
  cursor: pointer;

  border-radius: 10px;
}

.intro {
  position: absolute;
  top: 77.798vh;
  left: 9.838vw;
  width: 311px;
}

.fun-fact {
  position: absolute;
  top: 77.798vh;
  left: 73.669vw;
}