@font-face {
    font-family: "Nohemi";
    src: url(public/fonts/Nohemi-Medium.woff2);
  }

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

h1 {
  color: #FFF;
  font-family: "Nohemi";
  font-size: 124px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 186px */
  letter-spacing: 1.24px;
  text-transform: uppercase;
  margin: 0%;
}

p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 1.82px;
}

  body {
    display: block;
    overflow: scroll;
    background: #101010;
  }

  img {
    max-width: 100%;
    height: auto;

    border-radius: 20px;
  }
