@media screen and (min-width: 1000px) {
      
    .spacer {
      display: block;
      height: 60px;
    }

      .wrapper-project {
        box-sizing: border-box;
        display: grid;
        margin: 0;
        width: 100%;
        padding: 68px 30px;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px 1.389vw;
      }

      .wrapper-project .display-lg {
        grid-column: 1 / span 4;
        justify-self: start;
        align-self: end;

        font-size: clamp(64px, 8vw, 124px);
        line-height: 68%;
      }
 
      .wrapper-project .project-info {
        grid-column: 8 / span 4;
        justify-self: stretch;
        align-self: end;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transition-delay: 75ms
      }

      .wrapper-project .project-info .p-lg {
        font-size: clamp(9px, 0.81vw, 14px);
      }

      .wrapper-project a {
        grid-column: 1 / 13;
        justify-self: stretch;
        align-self: start;
        overflow: hidden;
        transition-delay: 150ms;
        border-radius: 20px;
        height: 66.293vh;
      }

}

@media screen and (max-width: 1000px) {

  .spacer {
    display: block;
    height: 60px;
  }

    .wrapper-project {
      box-sizing: border-box;
      display: grid;
      margin: 0;
      width: 100%;
      padding: 68px 30px;
      grid-template-columns: repeat(8, 1fr);
      gap: 32px 1.389vw;
    }

    .wrapper-project .display-lg {
      grid-column: 1 / span 6;
      justify-self: start;
      align-self: end;

      font-size: clamp(64px, 12vw, 124px);
      line-height: 68%;
    }

    .wrapper-project .project-info {
      grid-column: 1 / span 5;
      justify-self: stretch;
      align-self: end;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: 2vw;

      transition-delay: 75ms
    }

    .wrapper-project .project-info .p-lg {
      font-size: clamp(9px, 1.9vw, 14px);
    }

    .wrapper-project a {
      grid-column: 1 / 9;
      justify-self: stretch;
      align-self: start;
      overflow: hidden;
      transition-delay: 150ms;
      border-radius: 20px;
      height: 66.293vh;
    }
}

@media screen and (max-width: 750px) {

  .spacer {
    display: block;
    height: 60px;
  }

    .wrapper-project {
      box-sizing: border-box;
      display: grid;
      margin: 0;
      width: 100%;
      padding: 68px 30px;
      grid-template-columns: repeat(8, 1fr);
      gap: 32px 1.389vw;
    }

    .wrapper-project .display-lg {
      grid-column: 1 / span 6;
      justify-self: start;
      align-self: end;

      font-size: clamp(64px, 14vw, 124px);
      line-height: 68%;
    }

    .wrapper-project .project-info {
      grid-column: 1 / span 5;
      justify-self: stretch;
      align-self: end;

      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: start;
      align-items: flex-start;
      transition-delay: 75ms
    }

    .wrapper-project .project-info .p-lg {
      font-size: clamp(9px, 3vw, 14px);
    }

    .wrapper-project a {
      grid-column: 1 / 9;
      justify-self: stretch;
      align-self: start;
      overflow: hidden;
      transition-delay: 150ms;
      border-radius: 20px;
      height: 66.293vh;
    }
}