@media screen and (min-width: 1000px) {

    .hero {
      box-sizing: border-box;
      width: 100%;
      height: 100vh;
    }

    .st .display-lg {
      padding-top: 60px;
      grid-column: 2 / span 10;
    }

    .st .p-lg {
      grid-column: 2 / span 10;
      padding-top: 5px;
    }

    .st .img-lg {
      padding-top: 30px;
      grid-column: 2 / span 10;
      border-radius: 20px;
    }

    .img-md {
      grid-column: 1 / span 6;
      border-radius: 20px;
    }

    .img-sm-col1 {
      grid-column: 1 / span 3;
      border-radius: 20px;
    }

   .img-sm-col2 {
      grid-column: 4 / span 3;
      border-radius: 20px;
    }

  .img-wr {
    padding-top: 60px;
    grid-column: 7 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.389vw;
  }

    .col-1 {
      padding-top: 60px;
      grid-column: 2 / span 4;
    }

    .col-2 {
      padding-top: 60px;
      grid-column: 7 / span 5;
    }

    .wrapper-col-sm {
      grid-column: 7 / span 5;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .col-3 {
      padding-top: 60px;
      grid-column: 1 / span 2;
    }

    .col-4 {
      padding-top: 60px;
      grid-column: 4 / span 2;
    }

    .wr-sti-1 {
      grid-column: 2 / span 4;

      height: 100%;

      overflow: clip;
    }

    .wr-sti-2 {
      grid-column: 2 / span 4;

      height: 100%;

      overflow: clip;
    }

    .sticky {
      position: -webkit-sticky; /* Required for Safari */
      position: sticky;
      top: 0;
    }

}

@media screen and (max-width: 1000px) {

  .hero {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
  }

}

@media screen and (max-width: 750px) {

  .hero {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
  }

}